* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  color: var(--main-color);
  font-family: var(--primary-font);
  font-size: 16px;
  ::-webkit-input-placeholder {
    color: #bebebe;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bebebe;
   opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bebebe;
   opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bebebe;
  }

}

a {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
}

ul,
fieldset {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}
.btn {
  cursor: pointer;
}

