@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
.header {
  font-size: rem(30px);
}

/*----------  Lato Font  ----------*/

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/Lato-Regular.ttf'); 
}
/*----------  Maven Pro Font  ----------*/

@font-face {
  font-family: 'Maven Pro';
  src: url('../assets/fonts/mavenpro/MavenPro-Regular.ttf'); 
}

