::-webkit-input-placeholder {
  color: #626262;
  font-size: rem(14px);
  font-family: var(--primary-font);
}
form {
  margin-right: 20px;
  .button-green {
    width: 30%;
    float: right;
  }    
}

input, textarea {
  background-color : #454545;
  color: #bebebe;
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  padding: 0.5em 1.3em;
}
.form-control {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0.5em 1.3em;
  color: #bebebe;
  background-color: #454545;
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.form-group {
  margin: 1em 0;
  margin-top: 0px;
    @include for-mobile-only {
    margin-left: 1.3em;
  }

}
.form-title {
  height: auto;
  color: #bebebe;
  font-size: 30px;
  font-family: var(--primary-font);
  margin-bottom: 20px;
  .secound-title {
  font-size: 18px;
  }
  @include for-mobile-only {
    padding: 35px;
  }

}

