/*----------  Containers  ----------*/
section {
  // width: 1400px;
  // margin:0 auto;
}
.container {
  // width: var(--container-width);
  margin: 0 auto;
  padding: 0 1em;
}
main {
  height: 700px;
}

.toolbar {
  height: 100px;
}
.gallery {
  height: 600px;
}


.memeGen {
  width: 100%;
  height: 500px;
  background-color: var(--sections-bg);
  .img {
    height: 100%;
    max-height: 40%;
    max-width: 55%;
    background-color: blue;  
  }
  .tools {
    max-height: 40%;
    max-width: 55%;
    background-color: red;  
  }
  #canvas {
    max-height: 80%;
    max-width: 55%;
    margin: 20px;
  }
}

.about {
  width: 100%;
  background-color: lightgreen;
  img {
    background-color: red;
    margin: 10px;
    border-radius: 5%;
  }
  p{
    color: red;
  }
  div {
    width: 30%;
    height: 400px;
    float: left;
    margin: 50px;
  }
  div:last-child {
    float: right;
  }
  .img__shay {
    // padding-top: 30px;
  }
}

.contact {
  width: 100%;
  background-color: var(--sections-bg);
}

footer {
  width: 100%;
  background-color: lightblue;
  height: 45px;
}