/*----------  Containers  ----------*/
section {
  // width: 1400px;
  // margin:0 auto;
}
.container {
  // width: var(--container-width);
  margin: 0 auto;
  padding: 0 1em;
}
main {
  height: 700px;
}

.toolbar {
  height: 100px;
}


.memeGen {
  width: 100%;
  background-color: var(--sections-bg);
  .img {
    height: 300px;
    width: 400px;
    background-color: blue;  
  }
  .tools {
    height: 300px;
    width: 400px;
    background-color: red;  
  }
}

.about {
  width: 100%;
  background-color: lightgreen;
  img {
    height: 150px;
    width: 150px;
    background-color: red;
    margin: 10px;
  }
  p{
    color: red;
  }
  div {
    width: 30%;
    height: 400px;
    float: left;
    margin: 50px;
  }
  div:last-child {
    float: right;
  }
}

.contact {
  width: 100%;
  background-color: var(--sections-bg);
}

footer {
  width: 100%;
  background-color: lightblue;
  height: 45px;
}