nav {
    background-color: var(--main-color);
    height: 100%;
    color: white;
    .nav__container {
    width: 300px;
    margin: auto;
    display: flex;
    /* height: 50px; */
    text-align: center;
    justify-content: space-around;
    }
}
.navArrow {
    width: 0; 
    height: 0; 
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 25px solid var(--main-color);
    margin: 0 auto;
}
.ImgArrow {
    width: 64px;
    height: 55px;
    margin: 0 auto;
    align-self: center;
}
.app-logo {
    color: red;
    position: absolute;
    float: left;
}