nav {
    background-color: var(--main-color);
    height: 100%;
    color: white;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    font-family: Lato;
    text-transform: uppercase;
    box-shadow: 0px 16px 32px -7px var(--secondary-color);
    div {
        align-self: center;
        font-size: 12px;
    }
    h1 {
        position: absolute;
        margin: 8px;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 6px 6px 5px var(--secondary-color);
        @media (max-width: 800px){
            display: none;
        }
    }
    .nav__container {
    width: 375px;
    margin: auto;
        @include for-mobile-only{
            width: 100%;
            // margin-left: 1.3em;
            // margin-right: 1.3em;
        }
    }
    .btn:hover {
        color: var(--secondary-color);
    }

    
}
.navArrow {
    width: 0; 
    height: 0; 
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 25px solid var(--main-color);
    margin: 0 auto;
    padding-bottom: 30px;
}
.ImgArrow {
    width: 64px;
    height: 55px;
    margin: 0 auto;
    align-self: center;
}
.app-logo {
    color: red;
    position: absolute;
    float: left;
}
