nav {
    background-color: var(--main-color);
    height: 100%;
    color: white;
    .nav__container {
    width: 375px;
    // @include for-mobile-only{
    //     width: 100%;
    // }


    margin: auto;
    text-align: center;
    justify-content: space-around;
    font-family: Lato;
    text-transform: uppercase;
    div {
        align-self: center;
        font-size: 12px;
    }
    }
}
.navArrow {
    width: 0; 
    height: 0; 
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 25px solid var(--main-color);
    margin: 0 auto;
    padding-bottom: 30px;   
}
.ImgArrow {
    width: 64px;
    height: 55px;
    margin: 0 auto;
    align-self: center;
}
.app-logo {
    color: red;
    position: absolute;
    float: left;
}
