.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  margin: 57.74px 0;
//   background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 221.7025px;
  background-position: center;
  box-shadow: 0 0 30px white;
  border-left: solid 4px #333333;
  border-right: solid 4px #333333;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 25.29px;
  box-shadow: 0 0 30px white;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 192.0000px;
  height: 110.85125168440815px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-55.4256px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-55.4256px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-55.4256px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
  border-top: solid 5.6569px #333333;
  border-right: solid 5.6569px #333333;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
  border-bottom: solid 5.6569px #333333;
  border-left: solid 5.6569px #333333;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.3094px;
  left: 0;
  width: 192.0000px;
  height: 110.8513px;
  z-index: 2;
  background: inherit;
}