$container-width: 1063px;
$mobile-breakpoint: 720px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Maven Pro;
  --secondary-font: Lato;
  /* Colors */
  --main-color: #323232;
  --sections-bg: #f0f0f0;
}


