.hexagon {
  position: relative;
  width: 180px; 
  height: 103.92px;
  margin: 51.96px 20px;
  // background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 207.8461px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 127.28px;
  height: 127.28px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 26.36px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 180.0000px;
  height: 103.92304845413264px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-51.9615px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -63.6396px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -63.6396px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 180.0000px;
  height: 103.9230px;
  z-index: 2;
  background: inherit;
}